# Project file locations
CONFIG_FILE=./seestar-log-config.json
PROCESSED_FILE=./processed-files.json
DEFAULT_OUTPUT=./seestar-imaging-log.csv
SERVICE_ACCOUNT_FILE=./service-account.json

# Defaults
DEFAULT_MAX_GAP_MINUTES=30
DEFAULT_MIN_FILES=2
